body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensures full height */
    margin: 0;
}

input{
    margin: 8px;
}

li{
    margin: 8px;
}

.delete{
    margin: 4px 8px 4px 8px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 8px;
    background-color: rgba(179, 187, 189, 0.244);
    padding: 80px;
    margin: 20px;

    overflow-y: auto; /* Allows scrolling */
    
}

h1{
    margin-top: 0;
    padding-bottom: 50;
}

input{
    margin-top: 40px;
    border-radius: 8px;
}

button{
    border-radius: 8px;
}

.done{
    margin-right: 10px;
    margin-left: 10px;
}

.edit{
    margin-right: 10px;
}

#delAllBtn{
    background-color: red;
    margin: 5px;
    font-size: 15px;
}

#doneAllBtn{
    background-color: yellow;
    margin: 5px;
    font-size: 15px;

}

.endBtns{
    display: flex;
    margin: 5px;

}

#addBtn{
    background-color: blue;
    color: white;
}

/* #footer{
    font-weight: 800;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
} */

#footer {
    font-weight: 800;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Full-width footer */
    background-color: #333; /* Add background to make it visible */
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
}